.text-danger-bright {
    color: #f12e2a;
}
.text-success-bright {
    color: #35ce38;
}
.text-info-bright {
    color: #45aee2;
}
.text-white {
    color: #fff;
}
html {

    height: 100%
}

a {
    color: #ca0000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #68ae60;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

body.inner {
    background-image: url(../images/homepage-short.jpg);
    background-size: cover;
    background-color: #000;
}

body.inner .well h2 {
    margin-top: 0;
}

body.inner .container-main {
    margin-top: 80px;
}

@media (max-width: 450px) {
    .container.marketing.highlights .overview-item h2 {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    body.inner .container-main {
        margin-top: 60px;
    }
}

@media (min-width: 768px) {
    body.inner .container-main {
        margin-top: 130px;
    }
}

@media (min-width: 992px) {
    body.inner .container-main {
        margin-top: 80px;
    }
}
